<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Create a new Pokemon</title>
  </head>
  <body>
    <h1>New Pokemon page</h1>
    <form action="/pokemons" method="post">
      <input type="text" name="name" placeholder="Pokemon Name" />
      <input type="text" name="type" placeholder="add poke type" />
      <input type="text" name="hp" placeholder="hp" />
      <input type="text" name="attack" placeholder="attack" />
      <input type="text" name="defense" placeholder="defense" />
      <input type="text" name="image" placeholder="link to image" />
      <input type="submit" value="Add New Pokemon" />
    </form>
  </body>
</html>
